.form__container {
  background-color: #fefaf5;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 7rem;
  padding-bottom: 3rem;
  color: #335576;
  border-radius: 0.313rem;
  margin-left: 20rem;
  margin right: 20rem;
}

.form{
  background-color: #fefaf5;
}

.form__title{
  color: #335576;
text-align: center;
padding-bottom: 2rem;
}

input[type="text"],
select,
textarea {
  width: 100%; 
  padding: 0.75rem; 
  border: 1px solid #DB7A4E; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-bottom: 1rem; 
  resize: vertical;
  color: #335576;
}

input[type=submit] {
  background-color: #DB7A4E;
  color: white;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.313rem;
}