* {
  font-family: "verdana";
  box-sizing: border-box;
  margin: 0;
}

/*header*/

.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  padding: 1rem;
}

.header__title {
  margin-left: 6rem;
  color: #335576;
  text-decoration: none;
}
.header__link {
  text-decoration: none;
}

.navigation__list {
  margin-right: 6rem;
}

.navigation__item {
  display: inline-flex;
  margin-left: 1rem;
}

.navigation__link {
  text-decoration: none;
  color: #335576;
}

.navigation__link:hover {
  /* text-decoration: underline; */
  border-bottom: 2px solid #db7a4e;
}

/*footer*/

.footer {
  display: flex;
  background-color: #fefaf5;
  padding: 3rem;
  justify-content: center;
}

.footer__text {
  color: #335576;
}

.footer__cardheader {
  color: #335576;
  display: flex;
  margin-bottom: 2rem;
}

.footer__cardheader--social {
  color: #335576;
  display: flex;
  margin-bottom: 2rem;
  height: 20%;
}

.footer__text__title {
  color: #db7a4e;
  margin-bottom: 1rem;
  font-size: 10px;
  text-transform: uppercase;
}

.footer__hours {
  margin-left: 3rem;
}

.footer__address {
  margin-left: 7.5rem;
}

.footer__text__days {
  display: flex;
}

.footer__monday-friday__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__monday-friday__text {
  color: #db7a4e;
  margin-bottom: 1rem;
  font-size: 10px;
  text-transform: uppercase;
}

.footer__monday-friday__time {
  color: #335576;
  font-weight: 300;
}

.footer__saturday {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

.footer__saturday__text {
  color: #db7a4e;
  margin-bottom: 1rem;
  font-size: 10px;
  text-transform: uppercase;
}

.footer__saturday__time {
  color: #335576;
  font-weight: 300;
}

.footer__sunday {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

.footer__sunday__text {
  color: #db7a4e;
  margin-bottom: 1rem;
  font-size: 10px;
  text-transform: uppercase;
}

.footer__sunday__time {
  color: #335576;
  font-weight: 300;
}

.footer__socials {
  margin-left: 3rem;
}

.footer__links {
  text-decoration: none;
}
.footer__instagram__icon {
  width: 10%;
  margin-top: 27px;
}
.footer__facebook__icon {
  width: 5%;
  margin-top: 27px;
  margin-left: 2rem;
}

.footer__twiiter__icon {
  width: 10%;
  margin-top: 27px;
  margin-left: 2rem;
}
