/*Header*/

.header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin: 1rem;
}

.header__title{
    margin-left: 6rem;
    color:#335576;
}

.navigation{  
}

.navigation__list{
   margin-right: 6rem;
}

.navigation__item{
    display:inline-flex;
    margin-left: 1rem; 
}

.navigation__link{
    text-decoration: none;
    color: black;
}

/*Landing*/

.landing{
    background-color: #fefaf5;
    width: 100%;
    display: flex;
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 4.5rem;
}

.landing__header{
    margin-top: 0;
    inline-size: 30rem;
    color:#335576;
    font-size: 35px;
}

.landing__textcontainer{
   margin-top: 3rem;
   margin-left: 7rem;
}

.landing__description{
    margin-top: 2rem;
    inline-size: 40rem;
}

.landing___button{
    margin-top: 2rem;
    background-color: #db7a4e;
    color: #FFFFFF;
    border:0;
    padding: 0.5rem 2rem;
    border-radius: 25px; 
}

.landing__image{
    width: 65%;
    margin-left: 6rem;
}

.landing__imagecontainer{
    margin-top: 0;
}

/*Destinations*/

.destinations{
    margin-top: 3rem;
}





















.footer{
    background-color:#fefaf5;
}