/*hero*/

.hero {
  background-color: #fefaf5;
  width: 100%;
  display: flex;
  margin: 0;
  padding-top: 6rem;
  padding-bottom: 4.5rem;
}

.hero__header {
  margin-top: 0;
  inline-size: 30rem;
  color: #335576;
  font-size: 35px;
}

.hero__textcontainer {
  margin-top: 3rem;
  margin-left: 7rem;
}

.hero__description {
  margin-top: 2rem;
  inline-size: 40rem;
  color: #335576;
}

.hero___button {
  margin-top: 2rem;
  background-color: #db7a4e;
  color: #ffffff;
  border: 0;
  padding: 0.5rem 2rem;
  border-radius: 25px;
}

.hero__image {
  width: 65%;
  margin-left: 6rem;
  display: flex;
  justify-content: right;
}

.hero__imagecontainer {
  margin-top: 0;
}

/*destinations*/

.destinations {
  margin-top: 3rem;
}

.destinations__title {
  display: flex;
  margin-left: 7rem;
  color: #335576;
}

.destinations__options {
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;
  margin-top: 0.6rem;
}

.destinations__hawaii {
  background-color: white;
  background-image: url("../assets/Images/hawaii.jpg");
  background-size: cover;
  border-radius: 0.313rem;
  width: 15rem;
  height: 23rem;
  margin: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-repeat: no-repeat;
}

.destinations__hawaii__text {
  color: #ffffff;
  display: flex;
  justify-content: right;
  margin-top: 20.5rem;
  margin-right: 1rem;
}

.destinations__hawaii__link {
  text-decoration: none;
}

.destinations__iceland {
  background-color: white;
  background-image: url("../assets/Images/iceland.jpg");
  background-size: cover;
  border-radius: 0.313rem;
  width: 15rem;
  height: 23rem;
  margin: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
}

.destinations__iceland__text {
  color: #ffffff;
  display: flex;
  justify-content: right;
  margin-top: 20.5rem;
  margin-right: 1rem;
}

.destinations__iceland__link {
  text-decoration: none;
}

.destinations__greece {
  background-color: white;
  background-image: url("../assets/Images/greece.jpg");
  background-size: cover;
  border-radius: 0.313rem;
  width: 15rem;
  height: 23rem;
  margin: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
}

.destinations__greece__text {
  color: #ffffff;
  display: flex;
  justify-content: right;
  margin-top: 20.5rem;
  margin-right: 1rem;
}

.destinations__greece__link {
  text-decoration: none;
}
